body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  text-align: center;
  color: rgb(15, 2, 2);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  font-size: 32px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.rock {
  background: #d9d9d9;
}
.scissors {
  background: #ffdd99;
}
.paper {
  background: #cce5ff;
}
