body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  text-align: center;
  color: rgb(15, 2, 2);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  font-size: 32px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.rock {
  background: #d9d9d9;
}
.scissors {
  background: #d9d9d9;
}
.paper {
  background: #d9d9d9;
}

.active {
  background: #ffdd99;
}

.label {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 28px;
  font-weight: 600;
}

.label[for="computer-choice"] {
  margin-top: 50px;
}

.user-choice {
  display: flex;
  justify-content: center;
}

.computer-choice {
  display: flex;
  justify-content: center;
}

.user-choice span {
  text-align: center;
  font-size: 28px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  padding: 15px;
  border-radius: 8px;
  background-color: #1cc92a;
  color: white;
}

.computer-choice span {
  text-align: center;
  font-size: 28px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  background-color: #450fa8;
  color: white;
}

.result {
  text-align: center;
  margin-top: 35px;
  font-size: 55px;
  font-weight: 900;
  display: none;
}

.win {
  color: #1cc92a;
}

.lose {
  color: #c83333;
}
